
.ui-popup-title {
  position: relative;
  height: $titleH;
  font-size: 17px;
  background: #fff;
  padding: 0 10px;
  line-height: $titleH;
  display: flex;
  justify-content: space-between;

  > span {
    display: inline-block;
    color: #007aff;
  }
}

.ui-popup-content {
  height: $springWrapH;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling : touch;
  display: flex;
}

.onepx-bottom-border:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #e0d0d0;
    transform: scaleY(0.5);
    box-sizing: border-box;
}