.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

ul, ol, li {
  list-style: none;
}

img, input {
  border: 0;
  outline: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: PingFangSC-Regular, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc !important;
  font-size: 14px;
}

input[readonly] {
  background-color: transparent !important;
}

select {
  font-size: 16px;
  color: #666;
  border: none;
  padding: none;
  appearance: none;
  background-color: transparent;
}

.list {
  width: 100%;
}

.list .item {
  height: 56px;
  line-height: 56px;
  margin: 0 10px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.list .item-label {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: #000;
  position: relative;
}

.list .item-label:after {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-left: 0;
  border-top: 0;
  transform: rotate(315deg);
  content: '';
  position: absolute;
  right: 8px;
  top: 23px;
}

.button {
  border-style: none;
  width: auto;
  overflow: visible;
  text-align: center;
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  margin: auto;
}

.button-primary {
  width: 200px;
  height: 30px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.button-large {
  width: 80%;
  height: 30px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.button-small {
  width: 66px;
  height: 30px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  text-transform: none;
  outline: none;
}

.btn:focus, .btn:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(11, 11, 11, 0.4);
  width: 100%;
}

.modal-overlay .modal {
  position: fixed;
  top: calc(100% - 216px44px);
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: #fff;
  width: 100%;
  height: 216px44px;
}

.modal-transition-enter {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.modal-transition-exit {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.modal-transition-enter .modal {
  -webkit-animation-name: transitionBottomToUp-216px44px;
  animation-name: transitionBottomToUp-216px44px;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

@keyframes transitionBottomToUp-216px44px {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, calc(100% - 216px44px), 0);
    transform: translate3d(0, calc(100% - 216px44px), 0);
  }
}

@-webkit-keyframes transitionBottomToUp-216px44px {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, calc(100% - 216px44px), 0);
    transform: translate3d(0, calc(100% - 216px44px), 0);
  }
}

.modal-transition-exit .modal {
  animation-name: transitionUpToBottom-216px44px;
  -webkit-animation-name: transitionUpToBottom-216px44px;
  animation-duration: 0.24s;
  -webkit-animation-duration: 0.24s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

@keyframes transitionUpToBottom-216px44px {
  0% {
    top: calc(100% - 216px44px);
    -webkit-transform: translate3d(0, calc(100% - 216px44px), 0);
    transform: translate3d(0, calc(100% - 216px44px), 0);
  }
  100% {
    top: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes transitionUpToBottom-216px44px {
  0% {
    top: calc(100% - 216px44px);
    -webkit-transform: translate3d(0, calc(100% - 216px44px), 0);
    transform: translate3d(0, calc(100% - 216px44px), 0);
  }
  100% {
    top: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.ui-picker-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  margin-top: 18px;
  touch-action: none;
}

.ui-picker-wrapper .ui-picker {
  width: 100%;
  transition: transform .3s ease-out;
}

.ui-picker-wrapper .ui-picker-item {
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #000;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  transition: transform-origin,transform .3s ease-out;
}

.ui-picker-wrapper .ui-picker-deco {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, white 10.5%, rgba(255, 255, 255, 0.68) 12%, rgba(255, 255, 255, 0.45) 37%, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0.45) 63%, rgba(255, 255, 255, 0.68) 88%, white 89.5%);
  pointer-events: none;
}

.ui-picker-wrapper .ui-picker-center {
  height: 36px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: 101;
  margin-top: -18px;
  pointer-events: none;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.ui-popup-title {
  height: 44px;
  font-size: 17px;
  background: #ccc;
  padding: 0 10px;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
}

.ui-popup-title > span {
  display: inline-block;
  color: #007aff;
}

.ui-popup-content {
  height: 216px;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
